* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #e0b354;
    font-weight: 400;
    font-size: 20px;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
    margin: auto;
}

.page-header__item {
    flex: 0 1 200px;
}