 :root {
     --primary-color: #e0b354;
     --secondary-color: #4caf50;
     --border-color: black;
 }

 * {
     box-sizing: border-box;
 }

 body {
     font-family: 'Lato', sans-serif;
     background-color: var(--primary-color);
     font-weight: 600;
     margin: 1rem;
     text-transform: capitalize;
     padding-top: 50px;
 }

 .button-class {
     width: 15rem;
     height: 5rem;
     border: 3px solid var(--border-color);
     border-radius: 10px;
     background: var(--secondary-color);
     margin: 2px 0;
     font-size: 1rem;
     text-transform: capitalize;
     cursor: pointer;
 }

 .button-class:hover,
 .button-class:focus {
     opacity: 0.8;
 }

 li {
     list-style: none;
 }

 .container {
     text-align: center;
     align-items: center;
     margin-top: 5rem;
 }

 .navbar {
     background-color: var(--secondary-color);
     color: var(--border-color);
 }

 /* .nav-img {
     width: 5rem;
 } */

 .pokemon-list {
     display: grid;
     grid-template-columns: 1fr;
 }

 /* Media Queries  */
 @media all and (max-width:500px) {
     .button {
         width: 10rem;
         font-size: 0.7rem;
     }
 }